{% extends "base.html" %}
{%block content %}
    <form action method='post'>
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}
            {{ form.username(class_='username') }}
            {% for error in form.username.errors %}
            <span style="color:red;">{{ error}}</span>
            {% endfor %}
        </p>
        <p>
            {{ form.email.label }}
            {{ form.email(class_='email')}}
            {% for error in form.email.erros %}
            <span style="color:red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }}
            {{ form.password(class_='password')}}
            {% for errro in form.password.errors %}
            <span style="color:red">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password2.label }}
            {{ form.password2(class_='password2')}}
            {% for error in form.password2.errors %}
            <span style="color:red;">{{error}}</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>

    </form>
{% endblock %}
